<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Crypto Don</h1>    
    <a mat-button [routerLink]="'/info'"> Info </a>
    <a mat-button [routerLink]="'/crypto'"> Crypto </a>    
    <a mat-button *ngIf="isAuthenticated" [routerLink]="'/user'"> User </a>                      
    <span class="example-fill-remaining-space"></span>
    <div>
      <a mat-button *ngIf="!isAuthenticated"[routerLink]="'/auth'"> Login / Sign Up </a>                      
      <a mat-button *ngIf="isAuthenticated" (click)="onLogout()"> Logout </a>      
    </div>        
  </mat-toolbar-row>
</mat-toolbar>