<p>crypto works!</p>
<a mat-button (click)="collectCryptoData()"> Collect Data </a>   
<a mat-button (click)="getRecentCrptoData()"> Bloomberg </a>   
<hr>
<a mat-button (click)="getCryptoHistoryData('BTC/USD')"> History: BTC</a>   
<a mat-button (click)="getCryptoHistoryData('ETH/USD')"> History: ETH</a>   
<a mat-button (click)="getCryptoHistoryData('XMR/USD')"> History: XMR</a>   
<a mat-button (click)="getCryptoHistoryData('LTC/USD')"> History: LTC</a>   
<a mat-button (click)="getCryptoHistoryData('DASH/USD')"> History: DASH</a>  
<hr>
<app-candle-chart></app-candle-chart> 

