<div *ngIf="bloombergCandle && bloombergCandle.length > 0">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BTC: {{getActualPrice('BTC/USD')}}</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ETH: {{getActualPrice('ETH/USD')}}</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XMR: {{getActualPrice('XMR/USD')}}</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LTC: {{getActualPrice('LTC/USD')}}</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DASH: {{getActualPrice('DASH/USD')}}</span>
</div>